.date-range {
	@include clearfix();
	&__divider {
		background: #eee;
		border-bottom: solid 1px #ddd;
		border-top: solid 1px #ddd;
		color: #888;
		float: left;
		font-size: 13px;
		font-weight: 600;
		height: 32px;
		line-height: 32px;
		width: 30px;
	}
	.input {
		float: left;
		width: 150px;
	}
}