.dropdown-menu {
	background: $white;
	border-radius: 0;
	border: solid 1px #888;
	box-shadow: none;
	color: #666666;
	display: none;
	left: auto;
	margin: 0;
	padding: $site-padding;
	position: absolute;
	right: 0;
	top: ($site-padding * 4) - ($site-padding / 2);
	width: $site-padding * 32;
	z-index: 10;
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		border-bottom: solid 1px #ededed;
		color: #888888;
		cursor: pointer;
		font-size: 13px;
		line-height: $site-padding * 4;
		transition: color .3s;
		&:last-child {
			border-bottom: none;
		}
		.icon {
			margin: 0 $site-padding;
			font-size: 120%;
			line-height: $site-padding;
			&:before {
				line-height: $site-padding;
			}
		}
		&:hover {
			color: darken(#888888, 10%);
		}
	}
}

.dropdown-wrapper {
	&.open {
		.btn {
			background: $white;
			border-bottom: none;
			border-color: #888;
			height: ($site-padding * 4) - 3;
			position: relative;
			z-index: 20;
			.icon {
				color: #888;
			}
		}
	}
}