.dropdown-menu {
	position: absolute;
	display: none;
	top: 32px;
	right: -16px;
	z-index: 5;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 512px;
	}
	&__item {
		position: relative;
		background: #444;
		padding: 0 9px;
		border-top: solid 1px #3a3a3a;
		transition: background .3s;
		&:first-child {
			border-top: none;
		}
		&:hover {
			background: #3a3a3a;
			border-color: #333;
			& + .dropdown-menu__item {
				border-color: #333;
			}
			.dropdown-menu__clear {
				display: block;
			}
			.dropdown-menu__link {
				color: #fff;
			}
		}
	}
	&__link {
		display: inline-block;
		width: 100%;
		height: 32px;
		line-height: 32px;
		text-decoration: none;
		font-size: 12px;
		font-weight: 600;
		color: #aaa;
		transition: color .3s;
	}
	&__clear {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__footer {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 32px;
		border-top: solid 1px #303030;
	}
	&__btn {
		position: absolute;
		top: 0;
		font-size: 12px;
		font-weight: 600;
		color: #ccc;
		text-decoration: none;
		line-height: 31px;
		background: linear-gradient(to bottom,  #484848 0%, #333333 100%);
		transition: background .3s;
		z-index: 5;
		&:hover {
			background: linear-gradient(to bottom,  #484848 0%, #333333 50%);
		}
		&:active {
			color: #fff;
			background: linear-gradient(to bottom,  #484848 0%, #333333 50%);
		}
		.icon {
			position: absolute;
			width: 10px;
			height: 31px;
			top: 0;
		}
		&_prev {
			left: 9px;
			padding-left: 20px;
			padding-right: 16px;
			border-right: solid 1px #303030;
			.icon {
				left: 0;
			}
		}
		&_next {
			right: 9px;
			padding-right: 20px;
			padding-left: 16px;
			border-left: solid 1px #303030;
			.icon {
				right: 0;
			}
		}
	}
	&__pages {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		color: #ccc;
		background: linear-gradient(to bottom,  #484848 0%, #333333 100%);
	}
}