.field {
	position: relative;
	text-align: center;
	@include clearfix();
	margin-right: $site-padding;
	&:last-child {
		margin-right: 0;
	}
	&_float-left {
		float: left;
	}
	&__hint {
		text-align: left;
		padding: $site-padding;
		width: 100%;
		clear: both;
	}
	&__units {
		float: left;
		padding: $site-padding - 2 $site-padding;
	}
	&_auto-width {
		display: inline-block;
	}
	&.disabled {
		.number {
			.input {
				background: $white;
				color: $gray-darken-1 !important;
			}
		}
		.number__btn {
			background: $white;
			.icon {
				color: $gray-darken-1;
			}
		}
		.checkbox__check {
			background: $gray-light;
		}
	}
	.checkbox {
		margin-top: $site-padding;
	}
}