.form-menu {
    float: right;
	position: relative;
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix();
	}
	&__item {
		float: left;
		&.expanded {
			background: $base-color-darken;
			.form-menu__link {
				color: $white;
			}
			.icon-drop-down {
				background: url('../img/drop-down-white.png') no-repeat center;
			}
			.dropdown-sheet {
				display: block;
			}
		}
	}
	&__link {
		color: $base-color-light;
		display: inline-block;
		font-size: 10px;
		font-weight: 600;
		line-height: $site-padding * 2;
		padding: $site-padding;
		text-decoration: none;
		text-transform: uppercase;
        &:hover {
          color: $white;
          text-decoration: none;
        }
		.icon {
          height: $site-padding;
          line-height: $site-padding;
          text-align: center;
		}
	}
    &__element {
        padding: 0 $site-padding;
    }
}