.form {
	margin-bottom: 40px;
	&__header {
		height: 32px;
		background: #eee;
		box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
		margin-bottom: 30px;
	}
	&__title {
		margin: 0;
		color: #aaa;
		font-size: 14px;
		font-weight: 600;
		line-height: 32px;
		height: 32px;
		padding-left: 17px;
		text-shadow: 0 1px 0 #fff;
	}
	&__row {
		width: 100%;
		padding-left: 100px;
		margin-bottom: 16px;
		tr {
			vertical-align: top;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.active {
			.label__text {
				color: #444;
			}
			.input {
				border-color: #444;
				color: #444;
			}
		}
		&:hover {
			.label__text {
				color: $blue;
			}
			.input {
				border-color: $light-blue;
				color: $blue;
			}
		}
		&.error {
			.label__text {
				color: $red;
			}
			.input {
				border-color: $red;
				color: #444;
			}
		}
		&.disabled {
			.label__text {
				color: #aaa;
			}
		}
	}
	&__row-label {
		width: 225px;
		padding-left: 34px;
		line-height: 1;
	}
	&__row-field {
		width: 512px;
	}
	&__row-aux {
		font-size: 13px;
		color: #888;
		padding-left: 20px;
		line-height: 30px;
	}
	&__row-hint {
		font-size: 12px;
		color: #aaa;
		padding-left: 9px;
		margin-top: 7px;
	}
}