.hint {
	display: none;
	background: $gray;
	cursor: default;
	left: 50%;
	position: absolute;
	top: -38px;
	transform: translateX(-50%);
	@include no-wrap();
	@include no-select();
	&__text {
		color: $white;
		display: inline-block;
		font-size: 13px;
		line-height: 28px;
		padding: 0 10px;
	}
	&:before {
		@include triangle($site-padding * 2, $gray, 'down');
		bottom: -$site-padding;
		content: '';
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}
	&_error {
		background: $alert;
		&:before {
			@include triangle($site-padding * 2, $alert, 'down');
		}
	}
}