.icon {
	display: inline-block;
}
.icon-calendar {
	background: url('../img/calendar.png');
	width: 32px;
	height: 32px;
}
.icon-plus {
	background: url('../img/plus.png') no-repeat center;
	width: 32px;
	height: 32px;
}
.icon-minus {
	background: url('../img/minus.png') no-repeat center;
	width: 32px;
	height: 32px;
}
.icon-search {
	background: url('../img/search.png') no-repeat center;
	width: 32px;
	height: 32px;
}
.icon-drop-down {
	background: url('../img/drop-down.png') no-repeat center;
	width: 32px;
	height: 32px;
}
.icon-checked {
	background: url('../img/checked.png') no-repeat center;
	width: 32px;
	height: 32px;
}
.icon-clear {
	background: url('../img/clear.png') no-repeat center;
	width: 32px;
	height: 32px;
}