@font-face {
  font-family: "icons";
  src: url('../fonts/icons/icons.eot?v=1417440139724');
  src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
    url('../fonts/icons/icons.woff?v=1417440139724') format('woff'),
    url('../fonts/icons/icons.ttf?v=1417440139724') format('truetype'),
    url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  width: $site-padding * 2;
  height: $site-padding * 2;
  font-size: em($site-padding * 1.7);
}

.icon:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-bell:before { content: "\E001" }
.icon-calendar:before { content: "\E002" }
.icon-cardio:before { content: "\E003" }
.icon-caret-down:before { content: "\E004" }
.icon-caret-left:before { content: "\E005" }
.icon-caret-right:before { content: "\E006" }
.icon-caret-up:before { content: "\E007" }
.icon-check:before { content: "\E008" }
.icon-chevron-left:before { content: "\E009" }
.icon-chevron-right:before { content: "\E00A" }
.icon-close:before { content: "\E00B" }
.icon-cog:before { content: "\E00C" }
.icon-edit:before { content: "\E00D" }
.icon-envelope:before { content: "\E00E" }
.icon-eye-slash:before { content: "\E00F" }
.icon-eye:before { content: "\E010" }
.icon-first-step:before { content: "\E011" }
.icon-inbox:before { content: "\E012" }
.icon-info-circle:before { content: "\E013" }
.icon-last-step:before { content: "\E014" }
.icon-list-alt:before { content: "\E015" }
.icon-list:before { content: "\E016" }
.icon-minimize:before { content: "\E017" }
.icon-minus:before { content: "\E018" }
.icon-plus:before { content: "\E019" }
.icon-power-off:before { content: "\E01A" }
.icon-print:before { content: "\E01B" }
.icon-question-circle:before { content: "\E01C" }
.icon-refresh:before { content: "\E01D" }
.icon-schedule:before { content: "\E01E" }
.icon-search:before { content: "\E01F" }
.icon-times-circle:before { content: "\E020" }
.icon-user:before { content: "\E021" }
.icon-users:before { content: "\E022" }