.input {
	background: $white;
	border: solid 1px #ddd;
	color: #666;
	font-size: 13px;
	font-weight: 600;
	height: 32px;
	line-height: 16px;
	padding: 0 8px;
	transition: color .3s, border .3s;
	width: 100%;
	&[disabled] {
		background: #eee;
		border: solid 1px #ddd !important;
		color: #444 !important;
		cursor: not-allowed;
	}
}

::-webkit-input-placeholder {
   font-weight: normal;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
}