.input {
	border: solid 1px #ddd;
	font-size: 13px;
	font-weight: 600;
	color: #444;
	height: 32px;
	line-height: 16px;
	padding: 0 8px;
	width: 100%;
	background: linear-gradient(to bottom,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0) 50%);
	transition: color .3s, border .3s;
}

::-webkit-input-placeholder {
   font-weight: normal;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
}