.label {
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	padding: 0;
	position: relative;
	white-space: normal;
	color: #666;
	&__text {
		color: #888;
		display: inline-block;
		padding-right: 20px;
		transition: color .3s;
	}
	&__required {
		color: #e55c5c;
		display: inline-block;
		position: absolute;
		top: 0;
	}
}