.radio {
	position: relative;
	display: inline-block;
	@include clearfix();
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:checked + .radio__dot {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -4px;
				margin-left: -4px;
				display: inline-block;
				width: 8px;
				height: 8px;
				background: #666;
				border-radius: 50%;
			}
		}
	}
	&__dot {
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		border: solid 1px #ddd;
		background-color: #f9f9f9;
		margin-right: 8px;
		transition: border .3s;
		border-radius: 50%
	}
	&__label {
		font-size: 13px;
		line-height: 16px;
		color: #888;
		float: left;
		transition: color .3s;
	}
	&:hover {
		.radio__dot {
			border-color: $light-blue;
		}
		.radio__label {
			color: $blue;
		}
	}
}