.search {
	position: relative;
	.icon-search {
		cursor: pointer;
		left: 0;
		position: absolute;
		top: 0;
	}
	.icon-clear {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
	}
	.input {
		padding-left: 32px;
	}
}