/*==============colors==============*/

//brand-colors, ...
$base-color-lighten-1: #c3f2d7;
$base-color-lighten: #57e57e;
$base-color-light: #3dbf4e;
$base-color: #1e992e;
$base-color-dark: #128045;
$base-color-darken: #054016;
$base-color-darken-1: #02330e;

//brand-danger, ...
$color-2a: #e55c5c;
$color-2b: #d93636;
$color-2c: #e52222;

//brand-warning, ...
$color-3a: #ffaa00;
$color-3b: #ff9500;
$color-3c: #ff7f00;

//brand-success, ...
$color-4a: #2db386;
$color-4b: #53a661;
$color-4c: #269973;

$color-5a: #fff4bf;
$color-5b: #ffea7f;

//brand-primary, ...
$color-6a: #3399cc;
$color-6b: #297ca6;

$color-7a: #b6bfbf;
$color-7b: #8a9999;

$color-8: #8068a7;

