.switch {
	display: inline-block;
	height: 32px;
	overflow: hidden;
	position: relative;
	width: 96px;
	.input {
		cursor: pointer;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 5;
		&:checked + .switch__container {
			left: -48px;
			.switch__space {
				border-radius: 2px 0 0 2px !important;
			}
		}
		&[disabled] {
			cursor: not-allowed;
		}
	}
	&__container {
		display: inline-block;
		height: 32px;
		left: 0;
		position: absolute;
		top: 0;
		transition: all .3s;
		width: (48px * 3);
	}
	&__space {
		border-radius: 0 2px 2px 0;
		border: solid 1px #ddd;
		height: 32px;
		left: 48px;
		position: absolute;
		top: 0;
		width: 48px;
	}
	&__yes {
		background: $light-blue;
		border-radius: 0 2px 2px 0;
		border: solid 1px $blue;
		color: $white;
		display: inline-block;
		font-size: 10px;
		font-weight: 600;
		height: 32px;
		line-height: 32px;
		position: absolute;
		right: 0;
		text-align: center;
		text-transform: uppercase;
		top: 0;
		width: 48px;
	}
	&__no {
		background: linear-gradient(to top,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0) 100%);
		border-radius: 2px 0 0 2px;
		border-right: none;
		border: solid 1px #ddd;
		color: #888;
		display: inline-block;
		font-size: 10px;
		font-weight: 600;
		height: 32px;
		left: 0;
		line-height: 32px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 0;
		width: 48px;
	}
}