.textarea {
	border: solid 1px #ddd;
	font-size: 13px;
	font-weight: normal;
	color: #444;
	min-height: 65px;
	line-height: 16px;
	padding: 5px 8px;
	width: 100%;
	background: linear-gradient(to bottom,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0) 50%);
	transition: color .3s, border .3s;
	&[disabled] {
		background: #eee;
		color: #444 !important;
		border: solid 1px #ddd !important;
	}
	&_no-resize {
		resize: none;
	}
}