.textarea {
	background: $white;
	border: solid 1px #ddd;
	color: #444;
	float: left;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	min-height: 65px;
	padding: 5px 8px;
	resize: none;
	transition: color .3s, border .3s;
	width: 100%;
	&[disabled] {
		background: #eee;
		border: solid 1px #ddd !important;
		color: #444 !important;
		cursor: not-allowed;
	}
	&_half {
		width: 50%;
	}
}