body {
	font-family: $font-family-base;
}

html, body {
  font-size: 100%;
}

$fontsUrl: '../fonts/Open Sans/';


@font-face {
	font-family: 'OpenSansRegular';
	src: url($fontsUrl + 'opensans-regular.eot');
	src: url($fontsUrl + 'opensans-regular.eot?#iefix') format('embedded-opentype'),
		 url($fontsUrl + 'opensans-regular.woff') format('woff'),
		 url($fontsUrl + 'opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url($fontsUrl + 'opensans-semibold.eot');
    src: url($fontsUrl + 'opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url($fontsUrl + 'opensans-semibold.woff') format('woff'),
         url($fontsUrl + 'opensans-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}