<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>EMIAS ui-kit</title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" style="width: 1008px;">
<div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Открытое меню формы
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item expanded">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Архитип
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-2">
			<div class="form-type-2__subtitle-text">
				Кластер 2
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поле
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input disabled type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-3">
			<div class="form-type-2__subtitle-text">
				Кластер 3
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Длинное название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input input_half" name="" id="input-text-1" placeholder="Текстовое поле">
						<div class="field__units">
							Ед. измерения
						</div>
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Два элемента подряд
				</div>
				<div class="form-type-2__value">
					<div class="field field_float-left field_auto-width">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле 1">
					</div>
					<div class="field field_auto-width">
						<input type="text" class="input" name="" id="input-text-2" placeholder="Текстовое поле 2">
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Два элемента подряд
				</div>
				<div class="form-type-2__value">
					<div class="field field_float-left field_auto-width">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле 1">
					</div>
					<div class="field field_auto-width">
						<button class="btn btn_icon-text">
							<i class="icon icon-edit"></i>
							<span class="btn__text">Редактировать</span>
						</button>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-4">
			<div class="form-type-2__subtitle-text">
				Кластер 4
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-5">
			<div class="form-type-2__subtitle-text">
				Кластер 5
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<input type="text" class="input" name="" id="input-text-1" placeholder="Текстовое поле">
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Кнопки
				</div>
				<div class="form-type-2__value">
					<div class="field">
<a href="#" class="btn btn_transparent">Далее</a>
<button class="btn btn_icon btn_transparent">
	<i class="icon icon-plus"></i>
</button>
<button class="btn btn_icon-text">
	<i class="icon icon-edit"></i>
	<span class="btn__text">Редактировать</span>
</button>
<button disabled class="btn">Disabled</button>
<input type="submit" class="btn" value="Сохранить">					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Textarea
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-2">
			<div class="form-type-2__subtitle-text">
				Кластер 2
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поле
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea disabled name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-3">
			<div class="form-type-2__subtitle-text">
				Кластер 3
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Длинное название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea disabled name="" class="textarea textarea_half" placeholder="normal" id="textarea-3"></textarea>
						<div class="field__units">
							Ед. измерения
						</div>
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-4">
			<div class="form-type-2__subtitle-text">
				Кластер 4
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Выбор даты
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="field__hint">
							Выберите дату
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-2">
			<div class="form-type-2__subtitle-text">
				Кластер 2
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input disabled id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Выбор диапазона дат
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date range -->
						<div class="date-range">
							<input id="date-range-1" type="text" class="input" placeholder="error">
							<span class="date-range__divider">по</span>
							<input type="text" class="input" placeholder="error">
						</div>
						<div class="field__hint">
							Выберите дату
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-2">
			<div class="form-type-2__subtitle-text">
				Кластер 2
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date range -->
						<div class="date-range">
							<input id="date-range-1" type="text" class="input" placeholder="error">
							<span class="date-range__divider">по</span>
							<input type="text" class="input" placeholder="error">
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date range -->
						<div class="date-range">
							<input disabled id="date-range-1" type="text" class="input" placeholder="error">
							<span class="date-range__divider">по</span>
							<input disabled type="text" class="input" placeholder="error">
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Форма (switch)
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Switch -->
						<div class="switch">
							<input type="checkbox" class="input" name="" id="switch-1">
							<label for="switch-1" class="switch__container">
								<div class="switch__no">Нет</div>
								<div class="switch__space"></div>
								<div class="switch__yes">Да</div>
							</label>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название неактивоного поля
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width disabled">
						<!-- Switch -->
						<div class="switch">
							<input checked disabled type="checkbox" class="input" name="" id="switch-2">
							<label for="switch-2" class="switch__container">
								<div class="switch__no">Нет</div>
								<div class="switch__space"></div>
								<div class="switch__yes">Да</div>
							</label>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название неактивоного поля
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width disabled">
						<!-- Switch -->
						<div class="switch">
							<input disabled type="checkbox" class="input" name="" id="switch-3">
							<label for="switch-3" class="switch__container">
								<div class="switch__no">Нет</div>
								<div class="switch__space"></div>
								<div class="switch__yes">Да</div>
							</label>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Форма (number)
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Number -->
						<div class="number">
							<div class="number__container">
								<div class="number__btn number__btn_minus">
									<i class="icon icon-minus"></i>
								</div>
								<input type="number" class="input" name="temperature" id="number-1" placeholder="Температура тела" min="33" max="42" step="0.1" value="35">
								<div class="number__btn number__btn_plus">
									<i class="icon icon-plus"></i>
								</div>
							</div>
							<div class="number__unit">
								град.
							</div>
						</div>
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название неактивоного поля
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width disabled">
						<!-- Number -->
						<div class="number">
							<div class="number__container">
								<div class="number__btn number__btn_minus">
									<i class="icon icon-minus"></i>
								</div>
								<input disabled type="number" class="input" name="temperature" id="number-1" placeholder="Температура тела" min="33" max="42" step="0.1" value="35">
								<div class="number__btn number__btn_plus">
									<i class="icon icon-plus"></i>
								</div>
							</div>
							<div class="number__unit">
								град.
							</div>
						</div>
						<div class="field__hint">
							Значение от [min] до [max]
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Форма (checkbox)
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля вряд
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<label class="checkbox">
							<input type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								только мои осмотры
							</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								все осмотры
							</span>
						</label>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля один под другим
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<label class="checkbox">
							<input type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								только мои осмотры
							</span>
						</label>
					</div>
					<div class="field">
						<label class="checkbox">
							<input type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								все осмотры
							</span>
						</label>
					</div>
					<div class="field">
						<label class="checkbox">
							<input type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								осмотры
							</span>
						</label>
					</div>
					<div class="field disabled">
						<label class="checkbox">
							<input disabled type="checkbox" ng-model="parent.document.onlyMyExaminations">
							<span class="checkbox__check">
								<i class="icon icon-check"></i>
							</span>
							<span class="checkbox__label">
								врачи
							</span>
						</label>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div><div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Форма (radio)
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля вряд
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля один под другим
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field disabled">
						<!-- Radio -->
						<label class="radio">
							<input disabled type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>    </div>
</body>
</html>