<div class="dropdown-menu">
    <ul class="dropdown-menu__list">
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
        <li class="dropdown-menu__item">
            <a href="#" class="dropdown-menu__link">
                Название шаблона
            </a>
            <a href="#" class="dropdown-menu__clear">
                <i class="icon icon-clear"></i>
            </a>
        </li>
    </ul>
    <footer class="dropdown-menu__footer">
        <a href="#" class="dropdown-menu__btn dropdown-menu__btn_prev">
            <i class="icon icon-prev"></i>
            Пред.
        </a>
        <div class="dropdown-menu__pages">
            10 из 20
        </div>
        <a href="#" class="dropdown-menu__btn dropdown-menu__btn_next">
            След.
            <i class="icon icon-next"></i>
        </a>
    </footer>
</div>