<div class="form">
    <header class="form__header">
        <h1 class="form__title">
            Форма (switch)
        </h1>
    </header>
    <!-- Form row -->
    <table class="form__row">
        <tr>
            <td class="form__row-label">
                <label for="" class="label">
                    <span class="label__text">
                        Да или нет
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <!-- Switch -->
                <div class="switch">
                    <input type="checkbox" class="input" name="" id="field-1">
                    <div class="switch__container">
                        <div class="switch__no">Нет</div>
                        <div class="switch__space"></div>
                        <div class="switch__yes">Да</div>
                    </div>
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
</div>