<!-- dropdown sheet -->
<div class="dropdown-sheet">
	<a href="#" title="" class="btn">Добавить</a>
	<ul class="dropdown-sheet__list">
		<li class="dropdown-sheet__item">
			<div class="field">
				<input type="text" class="input" value="Название шаблона">
			</div>
			<div class="dropdown-sheet__controls">
				<button class="btn">
					Отмена
				</button>
				<button class="btn btn_icon-text">
					<i class="icon icon-refresh"></i>
					<span class="btn__text">
						Сохранить
					</span>
				</button>
			</div>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
		<li class="dropdown-sheet__item">
			<div class="icons-nav">
				<ul class="icons-nav__list">
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
					<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
				</ul>
			</div>
			<a href="#" class="dropdown-sheet__link">
				Название шаблона
			</a>
		</li>
	</ul>
	<footer class="dropdown-sheet__footer">
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
			<i class="icon icon-first-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
			<i class="icon icon-caret-left"></i>
		</a>
		<div class="dropdown-sheet__pages">
			10 из 20
		</div>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
			<i class="icon icon-last-step"></i>
		</a>
		<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
			<i class="icon icon-caret-right"></i>
		</a>
	</footer>
</div>