<div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Форма (radio)
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
					{{>form-menu}}
				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля вряд
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Поля один под другим
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field">
						<!-- Radio -->
						<label class="radio">
							<input type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
					<div class="field disabled">
						<!-- Radio -->
						<label class="radio">
							<input disabled type="radio" class="input" name="radio">
							<span class="radio__dot"></span>
							<span class="radio__label">
								Normal 1
							</span>
						</label>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>