<div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Выбор даты
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
					{{>form-menu}}
				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="field__hint">
							Выберите дату
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="form-type-2__subtitle sub-2">
			<div class="form-type-2__subtitle-text">
				Кластер 2
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Дата приема
				</div>
				<div class="form-type-2__value">
					<div class="field field_auto-width">
						<!-- Date -->
						<div class="date">
							<input disabled id="date-1" type="text" class="input" placeholder="error">
							<i class="icon icon-calendar"></i>
						</div>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>