<div class="form-type-2">
	<header class="form-type-2__header">
		<h2 class="form-type-2__title">
			Открытое меню формы
		</h2>
		<!-- Form menu -->
		<div class="form-menu">
			<ul class="form-menu__list">
				<li class="form-menu__item expanded">
					<a href="#" class="form-menu__link form-menu__link_dropdown">
						<span class="form-menu__element">Шаблон</span><i class="icon icon-caret-down"></i>
					</a>
					<!-- dropdown sheet -->
					<div class="dropdown-sheet">
						<a href="#" title="" class="btn">Добавить</a>
						<ul class="dropdown-sheet__list">
							<li class="dropdown-sheet__item">
								<div class="icons-nav">
									<ul class="icons-nav__list">
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
									</ul>
								</div>
								<a href="#" class="dropdown-sheet__link">
									Название шаблона
								</a>
							</li>
							<li class="dropdown-sheet__item">
								<div class="icons-nav">
									<ul class="icons-nav__list">
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
									</ul>
								</div>
								<a href="#" class="dropdown-sheet__link">
									Название шаблона
								</a>
							</li>
							<li class="dropdown-sheet__item">
								<div class="icons-nav">
									<ul class="icons-nav__list">
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-close"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-refresh"></i></a></li>
										<li class="icons-nav__item"><a href="#" class="icons-nav__element"><i class="icon icon-edit"></i></a></li>
									</ul>
								</div>
								<a href="#" class="dropdown-sheet__link">
									Название шаблона
								</a>
							</li>
						</ul>
						<footer class="dropdown-sheet__footer">
							<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev_all">
								<i class="icon icon-first-step"></i>
							</a>
							<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_prev">
								<i class="icon icon-caret-left"></i>
							</a>
							<div class="dropdown-sheet__pages">
								10 из 20
							</div>
							<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next_all">
								<i class="icon icon-last-step"></i>
							</a>
							<a href="#" class="dropdown-sheet__btn dropdown-sheet__btn_next">
								<i class="icon icon-caret-right"></i>
							</a>
						</footer>
					</div>
				</li>
			</ul>
		</div>
	</header>
	<div class="form-type-2__container">
		<div class="form-type-2__subtitle">
			<div class="form-type-2__subtitle-text">
				Кластер 1
			</div>
		</div>
		<ul class="form-type-2__list">
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item error">
				<div class="form-type-2__label">
					Название поля
					<sup class="form-type-2__required">*</sup>
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="form-type-2__item">
				<div class="form-type-2__label">
					Название поля
				</div>
				<div class="form-type-2__value">
					<div class="field">
						<textarea name="" class="textarea" placeholder="normal" id="textarea-3"></textarea>
						<div class="hint hint_error">
							<div class="hint__text">
								Обязательное поле
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>