<div class="form-menu">
    <ul class="form-menu__list">
        <li class="form-menu__item">
            <a href="#" class="form-menu__link">
                Шаблон
            </a>
        </li>
        <li class="form-menu__item">
            <a href="#" class="form-menu__link">
                Сохранить
            </a>
        </li>
        <li class="form-menu__item expanded">
            <a href="#" class="form-menu__link form-menu__link_dropdown">
                Выбрать
                <i class="icon icon-drop-down"></i>
            </a>
            {{>dropdown-menu}}
        </li>
    </ul>
</div>