<div class="form">
    <header class="form__header">
        <h1 class="form__title">
            Форма 2
        </h1>
    </header>
    <!-- Form row -->
    <table class="form__row error">
        <tr>
            <td class="form__row-label">
                <label for="field-1" class="label">
                    <span class="label__text">
                        Название поля
                        <sup class="label__required">*</sup>
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <div class="field">
                    <input type="text" class="input" name="" id="field-1" placeholder="Текст подсказки">
                    <div class="animated fadeIn error-hint">
                        <div class="error-hint__text">
                            Обязательное поле
                        </div>
                    </div>
                </div>
                <div class="form__row-hint">
                    Текст подсказки
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row active">
        <tr>
            <td class="form__row-label">
                <label for="field-2" class="label">
                    <span class="label__text">
                        Это очень длинное название поля
                        <sup class="label__required">*</sup>
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <input type="text" class="input" name="" id="field-2" placeholder="Текст подсказки">
                <div class="form__row-hint">
                    Текст подсказки
                </div>
            </td>
            <td class="form__row-aux">
                доп. значение
            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row">
        <tr>
            <td class="form__row-label">
                <label for="field-3" class="label">
                    <span class="label__text">
                        Метка названия поля
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <input type="text" class="input" name="" id="field-3">
            </td>
            <td class="form__row-aux">
                доп. значение
            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row disabled">
        <tr>
            <td class="form__row-label">
                <label for="field-3" class="label">
                    <span class="label__text">
                        Метка названия поля
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <input disabled type="text" class="input" name="" id="field-3" placeholder="Это неактивное поле">
            </td>
            <td class="form__row-aux">
                доп. значение
            </td>
        </tr>
    </table>
</div>