<div class="form">
    <header class="form__header">
        <h1 class="form__title">
            Форма 3 (date)
        </h1>
    </header>
    <!-- Form row -->
    <table class="form__row error">
        <tr>
            <td class="form__row-label">
                <label for="field-1" class="label">
                    <span class="label__text">
                        Название поля
                        <sup class="label__required">*</sup>
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <div class="field field_auto-width">
                    <!-- Date -->
                    <div class="date">
                        <input type="text" class="input" value="24 сентября 2014 Чт">
                        <i class="icon fa fa-calendar"></i>
                    </div>
                    <div class="animated fadeIn error-hint">
                        <div class="error-hint__text">
                            Обязательное поле
                        </div>
                    </div>
                </div>
                <div class="form__row-hint">
                    Текст подсказки
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row active">
        <tr>
            <td class="form__row-label">
                <label for="field-2" class="label">
                    <span class="label__text">
                        Это очень длинное название поля
                        <sup class="label__required">*</sup>
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <!-- Date -->
                <div class="date">
                    <input type="text" class="input" value="24 сентября 2014 Чт">
                    <i class="icon fa fa-calendar"></i>
                </div>
                <div class="animated fadeIn error-hint">
                    <div class="error-hint__text">
                        Обязательное поле
                    </div>
                </div>
                <div class="form__row-hint">
                    Текст подсказки
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row">
        <tr>
            <td class="form__row-label">
                <label for="field-3" class="label">
                    <span class="label__text">
                        Метка названия поля
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <!-- Date -->
                <div class="date">
                    <input type="text" class="input" value="24 сентября 2014 Чт">
                    <i class="icon fa fa-calendar"></i>
                </div>
                <div class="animated fadeIn error-hint">
                    <div class="error-hint__text">
                        Обязательное поле
                    </div>
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row disabled">
        <tr>
            <td class="form__row-label">
                <label for="field-3" class="label">
                    <span class="label__text">
                        Метка названия поля
                    </span>
                </label>
            </td>
            <td class="form__row-field">
                <!-- Date -->
                <div class="date">
                    <input disabled type="text" class="input" value="24 сентября 2014 Чт">
                    <i class="icon fa fa-calendar"></i>
                </div>
                <div class="animated fadeIn error-hint">
                    <div class="error-hint__text">
                        Обязательное поле
                    </div>
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
</div>