<div class="form">
    <header class="form__header">
        <h1 class="form__title">
            Форма (input search)
        </h1>
    </header>
    <!-- Form row -->
    <table class="form__row error">
        <tr>
            <td class="form__row-label"></td>
            <td class="form__row-field">
                <!-- Search -->
                <div class="search">
                    <input type="text" class="input" name="" placeholder="Найти">
                    <i class="icon icon-search"></i>
                    <i class="icon icon-clear hide"></i>
                    <div class="animated fadeIn error-hint">
                        <div class="error-hint__text">
                            Сообщение об ошибке
                        </div>
                    </div>
                </div>
            </td>
            <td class="form__row-aux">

            </td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row active">
        <tr>
            <td class="form__row-label"></td>
            <td class="form__row-field">
                <!-- Search -->
                <div class="search">
                    <input type="text" class="input" name="" placeholder="Найти" value="Анальгин">
                    <i class="icon icon-search"></i>
                    <i class="icon icon-clear"></i>
                    <div class="animated error-hint">
                        <div class="error-hint__text">
                            Сообщение об ошибке
                        </div>
                    </div>
                </div>
            </td>
            <td class="form__row-aux"></td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row">
        <tr>
            <td class="form__row-label"></td>
            <td class="form__row-field">
                <!-- Search -->
                <div class="search">
                    <input type="text" class="input" name="" placeholder="Найти">
                    <i class="icon icon-search"></i>
                    <i class="icon icon-clear hide"></i>
                    <div class="animated error-hint">
                        <div class="error-hint__text">
                            Сообщение об ошибке
                        </div>
                    </div>
                </div>
            </td>
            <td class="form__row-aux"></td>
        </tr>
    </table>
    <!-- Form row -->
    <table class="form__row disabled">
        <tr>
            <td class="form__row-label"></td>
            <td class="form__row-field">
                <!-- Search -->
                <div class="search">
                    <input disabled type="text" class="input" name="" placeholder="Найти">
                    <i class="icon icon-search"></i>
                    <i class="icon icon-clear hide"></i>
                    <div class="animated error-hint">
                        <div class="error-hint__text">
                            Сообщение об ошибке
                        </div>
                    </div>
                </div>
            </td>
            <td class="form__row-aux"></td>
        </tr>
    </table>
</div>