<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>EMIAS ui-kit</title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" style="width: 1008px;">
        {{>form-menu-open}}
        {{>form-input-text}}
        {{>form-textarea}}
        {{>form-date}}
        {{>form-date-range}}
        {{>form-input-search}}
        {{>form-switch}}
        {{>form-number}}
        {{>form-checkbox}}
        {{>form-radio}}
    </div>
</body>
</html>